node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Native folders (if using CNG/Prebuild)
/android
/ios

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Windows system files
AppData/
Application Data/
Local Settings/
Cookies/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/

